@charset "UTF-8";

/* Todas as demais mídias */

/* Typical Device Breakpoints (2020) 
Pequenas Telas: até 600px
Celular: de 600px até 768px
Tablet: 769px até 992px
Desktop: 993px até 1200px
Grandes telas: acima de 1200px
*/

@media print {
  * {
    font-family: 'Courier New', Courier, monospace;
  }

  body {
    background-image: url(../imagens/back-print.jpg);
  }

  main {
    width: 90vw;
    border: 2px solid black;
  }

  main h1{
    text-shadow: none;
    color: black;
  }

  main::after {
    content: "Essa impressão foi feita através do site www.cursoemvideo.com";
  }

  #phone {display: none;}
  #tablet {display: none;}
  #print {display: block;}
  #pc {display: none;}
  #tv {display: none;}
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  body {
    background-image: url(../imagens/back-tablet.jpg);
  }

  main {
    width: 700px;
  }

  #phone {display: none;}
  #tablet {display: block;}
  #print {display: none;}
  #pc {display: none;}
  #tv {display: none;}
}

@media screen and (min-width: 992px) and (max-width: 1200px){
  body {
    background-image: url(../imagens/back-pc.jpg);
  }

  main {
    width: 700px;
  }

  #phone {display: none;}
  #tablet {display: none;}
  #print {display: none;}
  #pc {display: block;}
  #tv {display: none;}
}

@media screen and (min-width: 1200px) {
  body {
    background-image: url(../imagens/back-tv.jpg);
  }

  main {
    width: 700px;
  }

  #phone {display: none;}
  #tablet {display: none;}
  #print {display: none;}
  #pc {display: none;}
  #tv {display: block;}
}