@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --color0: #0163B8;
  --color1: #302cb9;
  --color2: #332CF1;
  --color3: #00BE76;
  --color4: #00945C;

  --font-standard: Arial, Verdana, Helvetica, sans-serif;
  --font-header: 'Bebas Neue', cursive;
  --font-body: 'Roboto', sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
}

header {
  background-image: linear-gradient(to bottom, var(--color0), var(--color2));
  min-height: 140px;
  text-align: center;
  padding-top: 20px;
}

header h1 {
  color: white;
  font-family: var(--font-header);
  font-size: 3em;
  font-weight: normal;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
}

header h2 {
  color: white;
  font-family: var(--font-body);
  font-size: 1.2em;
  max-width: 600px; /* apagar */
  margin: auto;
  padding-right: 10px;
  padding-left: 10px;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
}

#burguer {
  color: white;
  display: block;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}

#burguer:hover {
  background-color: white;
  color: var(--color1);
  order: 0.5px solid var(--color4);
  border-radius: 5px;
}

menu {
  display: none;
}

menu a {
  font-family: var(--font-body);
  display: block;
  padding: 10px;
  margin: 10px;
  text-decoration: none;
  text-align: center;
  color: white;
}

menu a:hover {
  background-color: white;
  color: var(--color1);
  border: 0.5px solid var(--color4);
  border-radius: 5px;
}

main {
  min-width: 300px;
  max-width: 1000px;
  margin: auto;
  padding: 20px;
  margin-bottom: 30px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

main h1 {
  color: black;
  font-family: var(--font-header);
  text-align: center;
  font-size: 1.8em;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.25)
}

main h2 {
  color: black;
  font-family: var(--font-header);
  font-size: 1.2em;
  text-indent: 10px;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.25);
  background-image: linear-gradient(to right, var(--color4),transparent);
  padding: 3px 0px;
}

main > section > p {
  font-family: var(--font-body);
  margin: 15px 0px 15px 0px;
  text-align: justify;
  text-indent: 30px;
  font-size: 1em;
  line-height: 1.8em;
}

section {
  padding-top: 5vh;
  padding-bottom: 5vh;
}

h3 {
  color: white;
  font-family: var(--font-body);
  padding: 15px;
  background-color: rgba(73, 73, 73, 0.25);
}

.image {
  color: black;
  box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.25);
  background-size: contain;
  background-attachment: fixed;
}

.image > ul {
  font-family: var(--font-body);
  color: white;
  line-height: 1.75em;
  background-color: rgba(73, 73, 73, 0.25);
  padding-left: 50px;
  padding-right: 15px;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.303);
}

#img1 {
  background-image: url(../imagens/testar.jpg);
  background-position: center;
}

#img1 a {
  color: white;
  text-decoration: none;
}

#img1 a:hover {
  color: var(--color1);
  background-color: white;
  border-radius: 3px;
  padding: 5px;
}

.externo::after {
  content: "\00A0\1F4E7\00A0\00A0";
}

.slot-form-container {
  padding: 10px;
  border-radius: 20px;
  display: block;
  margin: auto;
  text-align: center;
  line-height: 1.5em;
}

.slot-form-container-btn {
  text-align: center;
}

textarea {
  border-radius: 5px;
  padding: 5px;
}

div input {
  padding: 5px;
}

.address {
  font-family: var(--font-standard);
  color: white;
  background-color: #332cf1bd;
  padding: 15px 15px;

}

footer {
  text-align: center;
  padding-bottom: 15px;
}

